<h1>角色管理</h1>
  <%= link_to '新建角色' , new_role_path %>
  <%= link_to '书籍目录' , articles_path %>
  

  <table>
    <tr>
      <th>角色名称</th>
      <th>描述</th>
      <th>类别</th>
      <th colspan="3"></th>
    </tr>
  

  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= role.desc %></td>
      <td><%= role.kind %></td>

      <td><%= link_to '角色展示', role_path(role) %></td>
      <td><%= link_to '角色修改', edit_role_path(role) %></td>
      <td><%= link_to '角色删除', role_path(role),
              method: :delete,
              data: { confirm: '你确认操作吗？' } %></td>
    </tr>
  <% end %>