<h1>管理员归还审核</h1>

  <%= form_for :borrow ,url: return_list_do_borrow_path(@borrow) do |f| %>

  <p>
    <%= f.label :书籍序列号 %><br>
    <%= @borrow.article_id%>-<%= @borrow.article_name%>
  </p>
  <p>
    <%= f.label :借书人 %><br>
    <%= @borrow.user_id%>-<%= @borrow.user_name%>
  </p>

  <p>
    <%= f.label :归还审核 %><br>
    <%= radio_button_tag :reason, '已归还' %>
    <%= label_tag ("已归还") %>
    <br>
    <%= radio_button_tag :reason, '未归还' %>
    <%= label_tag ("未归还") %>

  </p>


  <p>
    <%= f.submit '确认'%>
  </p>

  <%= link_to '返回', borrows_path %>
<% end %>